@page "/administration"
@using DiplomaThesis.Shared.Models
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize(Roles = "Admin")]
@inject HttpClient Http

<h1>Administration</h1>

@if (_users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in _users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private User[]? _users;
    
    protected override async Task OnInitializedAsync()
    {
        await UpdateUsers();
    }

    private async Task UpdateUsers()
    {
        var result = await GetUsersFromBackend();

        if (result is not null)
        {
            if (result.Length > 0)
            {
                _users = result;
            }
        }
    }

    private async Task<User[]?> GetUsersFromBackend()
    {
        try
        {
            var response = await Http.GetFromJsonAsync<IEnumerable<User>>($"Administration");
            return response?.ToArray();
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
            return null;
        }
    }
}