@page "/administration"
@using DiplomaThesis.Shared.Models
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using DiplomaThesis.Shared.Commands
@using DiplomaThesis.Client.Pages.Components
@attribute [Authorize(Roles = "Admin")]
@inject HttpClient Http

<PageTitle>Administration</PageTitle>

<h1>Administration</h1>

@if (_users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="d-flex">
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Roles</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var user in _users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Name</td>
                    <td>
                        <div class="flex-row">
                            @foreach (var role in user.Roles)
                            {
                                @role.Name
                            }
                        </div>
                    </td>
                    <td>
                        <button
                            class="btn btn-outline-dark"
                            @onclick="() => _userMenu.ShowUser(user)">
                            Select
                        </button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        
        <UserMenu @ref="_userMenu"/>
    </div>
}

@code {
    private UserMenu _userMenu = null!;
    
    private User[]? _users;
    
    protected override async Task OnInitializedAsync()
    {
        await UpdateUsers();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            _userMenu.Parent = this;
        }
    }

    public async Task UpdateUsers()
    {
        var result = await GetUsersFromBackend();

        if (result is not null)
        {
            if (result.Length > 0)
            {
                _users = result;
            }
        }
    }

    private async Task<User[]?> GetUsersFromBackend()
    {
        try
        {
            var response = await Http.GetFromJsonAsync<IEnumerable<User>>($"Administration/ListUsers");
            return response?.ToArray();
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
            return null;
        }
    }
}