@page "/dashboards"

<PageTitle>Dashboard</PageTitle>

<h1>Dashboard</h1>

<iframe title="Metriky - Stránka 1" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiNjlmMjA3OWQtZjgwOS00YmFmLThkNTMtNzY0YmM1N2YwZDg3IiwidCI6IjA2ZmZiNTU3LTRmMDYtNGQzOC1hNjM3LTRlNWRmZDc4N2RhMiIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>

@code {
    
}