@page "/"

<PageTitle>Index</PageTitle>

<h1>Power BI Metrics app</h1>

Welcome to Power BI metric dashboard creation app. Please login or register to proceed further.

<SurveyPrompt Title="How is Blazor working for you?" />
