@page "/metrics"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using DiplomaThesis.Shared

@inject IJSRuntime _js
@inject HttpClient _http

@attribute [Authorize]

<PageTitle>Metrics</PageTitle>

<h1>Metrics</h1>

<div class="d-flex flex-column">
    @if (_reports is null || _reports.Length == 0)
    {
        <div>
            <em>Ukázkový report</em>
            <iframe title="Ukázkový report"  
                    src="https://app.powerbi.com/view?r=eyJrIjoiNjlmMjA3OWQtZjgwOS00YmFmLThkNTMtNzY0YmM1N2YwZDg3IiwidCI6IjA2ZmZiNTU3LTRmMDYtNGQzOC1hNjM3LTRlNWRmZDc4N2RhMiIsImMiOjh9" 
                    style="border: 0;"
                    width="600" height="373.5" allow="fullscreen"></iframe>
        </div>
    }
    else
    {
        foreach (var report in _reports)
        {
            <ReportContainer Report="@report"/>
        }
    }
</div>

@code {
    ReportContract[]? _reports;

    protected override async Task OnInitializedAsync()
    {
        await UpdateData();
        StateHasChanged();
    }

    private async Task UpdateData()
    {
        var reports = await GetReportsFromBackend();

        if (reports is not null)
        {
            _reports = reports;
        }
            
        StateHasChanged();
    }
    
    private async Task<ReportContract[]?> GetReportsFromBackend()
    {
        try
        {
            var response = await _http.GetFromJsonAsync<IEnumerable<ReportContract>>($"Report/ListReports");
            return response?.ToArray();
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
            return null;
        }
    }
}