@page "/metrics"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using DiplomaThesis.Shared
@using DiplomaThesis.Shared.Contracts

@inject IJSRuntime _js
@inject HttpClient _http

@attribute [Authorize]

<PageTitle>Metrics</PageTitle>

<h1>Metrics</h1>

<div class="d-flex">
    @if (_reports is null || _reports.Length == 0)
    {
        <p>
            <em>Loading...</em>
        </p>
    }
    else
    {
        <div class="flex-column">
            @foreach (var report in _reports)
            {
                <AuthorizeView Roles="Architect">
                    <button class="btn btn-outline-primary"
                            @onclick="() => SelectReport(report)">
                        Select
                    </button>
                </AuthorizeView>
                <ReportContainer Report="@report"/>
            }
        </div>
        
        <ReportMenu @ref="_reportMenu" OnReportChanged="UpdateData"/>
    }
</div>

@code {
    ReportMenu _reportMenu = null!;
    
    ReportContract[]? _reports;

    protected override async Task OnInitializedAsync()
    {
        await UpdateData();
        StateHasChanged();
    }

    private async Task UpdateData()
    {
        var reports = await GetReportsFromBackend();

        if (reports is not null)
        {
            _reports = reports;
        }
            
        StateHasChanged();
    }
    
    private async Task<ReportContract[]?> GetReportsFromBackend()
    {
        try
        {
            var response = await _http.GetFromJsonAsync<IEnumerable<ReportContract>>($"Report/ListReports");
            return response?.ToArray();
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
            return null;
        }
    }

    private void SelectReport(ReportContract report)
    {
        _reportMenu.Report = report;
    }
}