@using DiplomaThesis.Shared.Models
@* <div class="top-row ps-3 navbar navbar-dark"> *@
@*     <div class="container-fluid"> *@
@*         <a class="navbar-brand" href="">DiplomaThesis</a> *@
@*         <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleUserMenu"> *@
@*             <span class="navbar-toggler-icon"></span> *@
@*         </button> *@
@*     </div> *@
@* </div> *@

@if (_showUserMenu)
{
    <div class="flex-column">
        <span>@User?.Id</span>
        <span>@User?.Name</span>
        <table class="table">
            @if (User?.Roles != null)
            {
                foreach (var role in User?.Roles)
                {
                    <tr>
                        <td>
                            @role.Name
                        </td>
                    </tr>
                }
            }
        </table>
        <button
            class="btn btn-outline-dark"
            @onclick="HideUserMenu">
            Hide
        </button>
    </div>        
}

@code {
    public User? User { get; set; }
    
    private bool _showUserMenu = false;

    public void ShowUserMenu()
    {
        _showUserMenu = true;
    }
    
    public void HideUserMenu()
    {
        _showUserMenu = false;
    }
}