@using DiplomaThesis.Shared.Models
@using System.Xml.Schema
@* <div class="top-row ps-3 navbar navbar-dark"> *@
@*     <div class="container-fluid"> *@
@*         <a class="navbar-brand" href="">DiplomaThesis</a> *@
@*         <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleUserMenu"> *@
@*             <span class="navbar-toggler-icon"></span> *@
@*         </button> *@
@*     </div> *@
@* </div> *@


<div class="flex-column" style="display: @(ShowUserMenu ? "block" : "none")">
    <span>@User?.Id</span>
    <span>@User?.Name</span>
    <table class="table">
        @if (User?.Roles != null)
        {
            foreach (var role in User?.Roles)
            {
                <tr>
                    <td>
                        @role.Name
                    </td>
                </tr>
            }
        }
    </table>
    <button
        class="btn btn-outline-dark"
        @onclick="ToggleUserMenu">
        Hide
    </button>
</div>

@code {
    private User? User { get; set; }
    
    public bool ShowUserMenu { get; set; }

    public void ToggleUserMenu()
    {
        ShowUserMenu = !ShowUserMenu;
    }

    public void ShowUser(User user)
    {
        User = user;
        ShowUserMenu = true;
        StateHasChanged();
    }
}